
    {% extends "Join_Login/Error_Join.html" %}
    {%block Error_Join_ect%}    
    
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                닉네임을 입력해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                이메일을 입력해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                PW를 입력해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                PW확인을 입력해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                비밀번호힌트를 입력해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                성별을 선택해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                이미 사용된 닉네임입니다. 다른 닉네임을 사용해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                이미 사용된 email입니다. 다른 email을 사용해주세요.
                </div>
            </div>
    {%endblock%}
    