
    {% extends "Join_Login/Error_login.html" %}
    {%block Error_login_ect%}    
    
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                이메일을 입력해주세요.
                </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center my-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                PW를 입력해주세요
                </div>
            </div>
    {%endblock%}
    